<div>
        
        <h2>Pick a place</h2>
        <form method="POST" action="/place">
      
          <label>Type the name of a city here:</label>
          <textarea name="city" rows="10" required></textarea>
      
          <input type="submit" value="Post"/>
        </form>
        
      </div>