<article>
    <h2>NASA Astronomy Picture Of The Day</h2>
    <h2><%=title %> </h2>
    <h3>Date: <%= date %></span></h3>
    <img id="pic" src="<%=hdurl%>" alt="NASA Picture Of The Day" width="100%">
    <p><%= explanation %></p>

